#squares{
    display:inline-block;
    position:absolute;
}

#squares .squareDiv{
    margin: 1px;
}

#squares .button{
    display:inline-block; 
    max-height:50px;
    min-height:50px;
    max-width:50px;
    min-width:50px;
    width:50px;
    height:50px; 
    text-align: center;
    color:white;
}

#squares .leftButton, #squares .rightButton{
    float:left;
}

#squares .button .buttonSign{
    display:inline-block;
}

#squares .bottomButton, #squares .topButton{
    clear:both;
    display:block;
}

#squares .squaresTable{
    display:inline-block; 
    float:left;
    border: 2px solid #1E90FF;
    border-collapse: separate;
    border-spacing: 2px; 
    cursor: url("BlackCursor.png"), auto; 
}

#squares .squaresTable .squaresTd{
    max-height:50px;
    min-height:50px;
    max-width:50px;
    min-width:50px;
    width:50px;
    height:50px;
    background: #6495ED;    
}

#squares .button { 
    cursor: url("HandTrans.png"), auto; 
    padding:1px;
}

#squares .rightButton, #squares .bottomButton{
    transition: background-color 2s; 
    background: #FFCC00;
}

#squares .rightButton:hover, #squares .bottomButton:hover{
    transition: background-color 2s;
    background-color: #FFCC66;  
}

#squares .leftButton, #squares .topButton{
    transition: background-color 2s;
    background: #800000;
}

#squares .leftButton:hover, #squares .topButton:hover{
    transition: background-color 2s;
    background-color: #CD5C5C;  
}

#squares .movable{
}
