#squares{
    display:inline-block;
}

#squares .squareDiv{
    margin:1px;
}

#squares .button{
    display:inline-block; 
    max-height:50px;
    min-height:50px;
    max-width:50px;
    min-width:50px;
    width:50px;
    height:50px; 
    text-align: center;
    color:white;
}

#squares .leftButton, #squares .rightButton{
    display:block; 
    height:100%;
    width:52px;
    float:left;
}

#squares .button .buttonSign{
    display:inline-block;
}

#squares .bottomButton, #squares .topButton{
    clear:both;
}

#squares .squaresTable{
    display:inline-block; 
    float:left;
    border: 2px solid #1E90FF;
    border-collapse: separate;
    border-spacing: 2px; 
    cursor: url("BlackCursor.png"), auto; 
}

#squares .squaresTable .squaresTd{
    max-height:50px;
    min-height:50px;
    max-width:50px;
    min-width:50px;
    width:50px;
    height:50px;
    background: #6495ED;    
}

#squares .button { 
    cursor: url("HandTrans.png"), auto; 
}

#squares .rightButton .button, #squares .bottomButton .button{
    transition: background-color 2s; 
    background: #FFCC00;
}

#squares .rightButton .button:hover, #squares .bottomButton .button:hover{
    transition: background-color 2s;
    background-color: #FFCC66;  
}

#squares .leftButton .button, #squares .topButton .button{
    transition: background-color 2s;
    background: #800000;
}

#squares .leftButton .button:hover, #squares .topButton .button:hover{
    transition: background-color 2s;
    background-color: #CD5C5C;  
}


